<style>
    body {
        background-attachment: fixed;
        background-blend-mode: normal, multiply, multiply, multiply;
        background-image: linear-gradient(120deg, #032e49, #0073a6),
          radial-gradient(circle at 50% 0, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),
          linear-gradient(to left, rgba(255, 255, 255, 0.5), #d33b65),
          linear-gradient(297deg, #156fc3, rgba(255, 255, 255, 0.5)),
          radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0), rgba(21, 6, 40, 0.12));
        margin: 0;
        padding: 0;
    }
</style>
<div style="text-align: center; width:600px; margin: 10% auto 0 auto; color: #25c1ff;">
    <h1>BEAM Anywhere Relay <sup><small style="text-align: center; color: #ffffff; opacity: .5;">(testnet)</small></sup></h1>
    <span style="color: #ffffff; opacity: .5;">Coming soon...</span>
</div>


